root = true

# ==========================================
# 全ファイル共通の基本設定（すべて LF に統一）
# ==========================================
[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[src/**/*.js]
indent_size = 2


# Windows バッチファイルのみ CRLF（OSの仕様上）
[*.bat]
end_of_line = crlf
